@import "reset";

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

$mecaorange: #e89636;
$mecayellow: #f9db55;

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

#nav-head {
	font-family: 'News Cycle', sans-serif;
	padding: 1.4em;
	margin: 0;
	height: 1em;
	background: #303030;

	$menu_margin: 28px;

	li, ul {
		display: inline;
		list-style: none;
	}

	li:first-child {
		margin-left: -$menu_margin;
	}

	img {
		display: inline;
		float: left;
		height: 2.5em;
		width: auto;
		margin: -10px 0 0 100px;
	}

	a {
		margin: 0 $menu_margin;
		text-decoration: none;
		color: #CCC;

		@include transition(color 0.3s ease);
	}

	a:hover {
		color: $mecayellow;
	}

	b {
		color: $mecaorange;
		font-weight: bold;
	}
}

h2 {
	font-size: 1.5em;
	margin: 50px 0 20px 0;
	font-family: 'Oswald', sans-serif;
	color: black;
	text-align: center;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

#home {
	//background: #FFFAEE;
	//background: #333;

	.home-head {
		//font-family: 'Source Sans Pro', sans-serif;
		background: $mecayellow;
		padding: 60px 0 90px 0;

		//box-shadow: inset 1px -14px 19px -15px rgba(190, 120, 30, 0.8);

		$w: 22vw;

		img {
			width: $w;
			min-width: 150px;
			margin-left: (100vw - $w) / 2;
		}

		h1 {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 4.1em;
			color: $mecaorange;
			text-transform: uppercase;
			margin: auto;
			text-align: center;
			width: auto;
			margin-top: -12px;
		}

		p {
			font-family: 'Oswald', sans-serif;
			font-size: 1.0em;
			margin: auto;
			text-align: center;
			width: $w;
			color: white;
		}
	}

	.home-desc {
		width: 700px;
		margin: auto;
		margin-top: 70px;

		p {
			font-family: 'Source Sans Pro', sans-serif;
			padding: 0 40px;
			text-align: center;
			color: #777;
		}

		li {
			$ombre: rgba(0, 0, 0, 0.1);

			float: left;
			padding: 20px;
			font-family: 'Source Sans Pro', sans-serif;
			margin: 20px;
			height: 170px;
			width: 150px;
			-moz-box-shadow: 0px 0px 15px 0px $ombre;
			-webkit-box-shadow: 0px 0px 15px 0px $ombre;
			-o-box-shadow: 0px 0px 15px 0px $ombre;
			box-shadow: 0px 0px 15px 0px $ombre;

			h3 {
				@extend h2;

				margin: 10px 0 10px 0;
				font-size: 1em;
				padding: 0;
			}

			p {
				display: block;
				height: 100px;
				font-size: 0.9em;
				padding: 0;
			}
		}
	}
}
